<div id="site-container">


<div class="outer-page-container">
  <div class="page-container" id="page-container">
    <div class="home-page">
      <h1>Search Application</h1>
      <p>This Chaplin Application provides an app scaffold using RequireJS as module loader. Handlebars is used as templating engine. The templates are loaded on demand using the RequireJS text plugin.</p>

      <div id="main-container"></div>

    </div>
  </div>
</div>

</div>
